.button{
    -fx-background-insets:5;
    -fx-background-color: transparent;
}


#Start:hover {
    -fx-font-size: 20;
    -fx-font-family: "Kristen ITC";
}

#next:hover {
    -fx-font-size: 20;
    -fx-font-family: "Kristen ITC";
}
#back:hover {
    -fx-font-size: 20;
    -fx-font-family: "Kristen ITC";
}
#help:hover {
    -fx-font-size: 20;
    -fx-font-family: "Kristen ITC";
}
#previous:hover {
    -fx-font-size: 20;
    -fx-font-family: "Kristen ITC";
}
#end_next:hover {
    -fx-font-size: 50;
    -fx-font-family: "Eras Bold ITC";
}

.slider .track{
    -fx-background-color: linear-gradient(to left, cyan, magenta);
    -fx-pref-height: 20px;
    -fx-background-radius: 0;
}
.slider .thumb{
    -fx-pref-height: 30px;
    -fx-background-color: linear-gradient(to top, royalblue, aquamarine);
    -fx-background-radius: 0;
}
